RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
<IfModule Headers>
    Header add Access-Allow-Request-Headers x-requested-with
    Header add Access-Control-Allow-Origin "*"
</IfModule>